.hero {
  position: relative;
  margin-top: 120px;
  padding-block: 45px 75px;
  overflow: hidden;
}

.hero__text {
  margin-bottom: 36px;
  text-align: center;
}

.hero__text h1 {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.hero__text p {
  margin-bottom: 20px;
}

.hero__text .btn {
  margin-inline: auto;
  margin-bottom: 25px;
}

.hero__text .hero__number {
  display: inline-block;
  margin-inline: 30px;
  font-size: 32px;
  font-weight: 700;
}

.hero__text .hero__number p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.hero__image-container {
  position: relative;
  margin-inline: auto;
  width: 60%;
}

.hero__image {
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1.3;
}

.hero__image img {
  width: 100%;
  object-fit: cover;
}

.hero__image::before,
.hero__image::after {
  content: "";
  position: absolute;
  width: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 30px #e4e6eb;
  z-index: -1;
}

.hero__image::before {
  top: -25px;
  right: -120px;
}

.hero__image::after {
  bottom: -25px;
  left: -120px;
}

@media screen and (min-width: 768px) {
  .hero .wrapper {
    display: flex;
    align-items: center;
  }

  .hero__text {
    flex-basis: 50%;
    margin-right: 10px;
    text-align: left;
  }

  .hero__text .btn {
    margin-inline: 0;
    margin-bottom: 25px;
  }

  .hero__text .hero__number {
    margin-inline: 0;
  }

  .hero__text .hero__number:first-child {
    margin-inline-end: 60px;
  }

  .hero__image-container {
    width: 50%;
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  .hero {
    margin-top: 135px;
  }

  .hero__text .hero__number p {
    font-size: 16px;
  }

  .hero__image {
    width: 64%;
    margin-inline: auto;
  }

  .hero__image::before,
  .hero__image::after {
    width: 256px;
    box-shadow: 0 0 0 60px #e4e6eb;
  }

  .hero__image::before {
    top: -50px;
  }

  .hero__image::after {
    bottom: -50px;
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    padding-block: 140px 125px;
  }

  .hero__image::before,
  .hero__image::after {
    width: 512px;
    box-shadow: 0 0 0 80px #e4e6eb;
  }

  .hero__image::before {
    top: -420px;
    right: -160px;
  }

  .hero__image::after {
    bottom: -420px;
    left: -160px;
  }
}
