/* How section */
.how {
  padding-block: 50px 15px;
  background-color: #f8f8f8;
}

.how h2 {
  text-align: center;
}

.how .how__steps {
  padding-block: 35px;
  text-align: center;
}

.how__steps > div {
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-bottom: 25px;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--clr-neutral-500);
  font-weight: 700;
  font-size: 32px;
  background-color: #c4c4c480;
}

.how__steps h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.how__steps p {
  font-size: 14px;
}
/* End of how section */

/* Who can Join section */
.join {
  position: relative;
  padding-block: 25px;
  text-align: center;
}

.join img {
  margin-bottom: 40px;
}

.join h2 {
  margin-bottom: 20px;
}

.join p {
  margin-bottom: 40px;
  font-size: 12px;
}

.join__slider .owl-item {
  padding-block: 20px 60px;
}

.join__slider .join__card {
  margin-inline: auto;
  padding: 32px;
  width: 256px !important;
  height: 230px !important;
  border-radius: 5px;
  text-align: left;
  background-color: var(--clr-neutral-100) !important;
  cursor: pointer;
}

.join__slider .join__card:hover {
  box-shadow: 0px 37px 90px 6px rgba(87, 87, 87, 0.12) !important;
  background-color: #fff !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.join__slider .join__card h3 {
  font-size: 18px;
}

.join__card-image {
  margin-left: auto;
  margin-bottom: 42px;
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.owl-theme .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  margin-top: 0;
  width: 100%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  display: grid;
  place-items: center;
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: -17px 9px 45px #ececec;
  background: #fff !important;
}

.owl-theme .owl-nav span {
  font-size: 50px;
  transition: transform 0.3s ease;
}

.owl-theme .owl-nav [class*="owl-"]:hover span {
  transform: scale(1.2);
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.join__slider.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
}
/* End of who can Join section */

/* Offers section */
.offers {
  position: relative;
  padding-block: 25px;
  text-align: center;
}

.offers h2 {
  margin-bottom: 32px;
}

.offers__content .offers__number {
  display: inline-block;
  padding-inline: 30px;
  margin-bottom: 46px;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

.offers__content .offers__number:first-child {
  border-right: 1px solid #d9d9d9;
}

.offers__content .offers__number span:not(:first-child) {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

.offers__image {
  display: none;
}

.offers__cards .card {
  margin-inline: auto;
  margin-bottom: 40px;
  width: min(72%, 330px);
  border-radius: 20px;
  box-shadow: 0px 37px 90px 6px rgba(87, 87, 87, 0.12);
  text-align: start;
  background-color: #fff;
}

.offers__cards .card.hide-some:nth-child(n + 4) {
  display: none;
}

.offers__cards .card > div {
  padding: 32px;
}

.offers__cards .card .card__info {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 14px;
}

.offers__cards .card .card__tag-image {
  width: 25px;
  margin-right: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--clr-neutral-300);
}

.offers__cards .card h4 {
  margin-bottom: 24px;
}

.offers__cards .card__description {
  display: flex;
  justify-content: space-between;
}

.offers__cards .card__description .location {
  display: flex;
  align-items: center;
}

.offers__cards .card__description .location img {
  margin-right: 6px;
}

.offers__cards .card .card__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
}

.offers .card__bottom .bottom__image {
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--clr-neutral-300);
}

.offers .card__bottom .card__meta {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.offers .card__meta .age {
  color: #7e7777;
}

.offers .card__meta .company {
  font-weight: 700;
}

.offers .btn {
  margin-inline: auto;
}
/* End of Offers section */

/* media queries */
@media screen and (min-width: 756px) {
  .how__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .how__wrapper > div {
    margin-inline: 15px;
  }

  .join p {
    font-size: 14px;
  }

  .offers__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .offers__cards .card {
    width: min(45%, 330px);
  }
}

@media screen and (min-width: 1100px) {
  .join__slider-container {
    width: calc(100vw - 100px);
    margin-inline: auto;
  }

  .offers {
    margin-bottom: 250px;
  }

  .offers h2 {
    margin-bottom: 60px;
  }

  .offers__content .offers__number:first-child {
    border-right: none;
  }

  .offers__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .offers__content-left {
    padding: 60px;
    width: min(48%, 774px);
    aspect-ratio: 1.16 / 1;
    border-radius: 30px 0 0 30px;
    background-color: #c4c4c480;
    text-align: start;
  }

  .offers__image {
    display: block;
    width: min(48%, 774px);
    aspect-ratio: 1.025 / 1;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
  }

  .offers__image img {
    width: 100%;
    object-fit: cover;
  }

  .offers__cards {
    position: absolute;
    top: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 56%;
  }

  .offers__cards .card {
    width: 280px;
    margin-bottom: 0;
  }

  .offers__cards .card:nth-child(3) {
    grid-column: 1 / 2;
  }

  .offers__cards .card:nth-child(4) {
    grid-column: 2 / 3;
  }

  .offers__cards .card:nth-child(5) {
    grid-column: 3 / 4;
  }

  .offers__cards .card > div {
    padding: 16px;
  }

  .offers__cards .card .card__tag-image {
    width: 28px;
  }

  .offers .card__bottom .bottom__image {
    width: 44px;
  }
}

@media screen and (min-width: 1920px) {
  .join__slider-container {
    width: calc(100vw - 230px);
    margin-inline: auto;
  }

  .offers__content .offers__number {
    font-size: 64px;
  }

  .offers__cards {
    gap: 40px;
  }

  .offers__content-left {
    padding: 80px;
  }

  .offers__cards .card {
    width: 330px;
    margin-bottom: 0;
  }

  .offers__cards .card > div {
    padding: 28px;
  }
}
