header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0px 8px 20px rgba(210, 52, 50, 0.1);
  background-color: #fff;
  z-index: 5;
}

header .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header .wrapper .user-account {
  display: flex;
  align-items: center;
}

header .wrapper svg path {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

header .wrapper .cart {
  margin-right: 20px;
}

header .wrapper .cart:hover svg path {
  stroke: var(--clr-primary);
  fill: #fff;
}

header .wrapper .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 1px;
  width: 30px;
  aspect-ratio: 1;
  z-index: 5;
}

header .wrapper .hamburger.open span:nth-child(1) {
  transform: rotateZ(45deg) translateY(11px);
}

header .wrapper .hamburger.open span:nth-child(2) {
  display: none;
}

header .wrapper .hamburger.open span:nth-child(3) {
  transform: rotateZ(-45deg) translateY(-11px);
}

header .hamburger > span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}

header .wrapper .account-details {
  display: none;
}

header .wrapper .account-details span {
  margin-inline: 10px; /* same as margin left and margin right */
  color: #000;
}

header .wrapper .account-details:hover .user-icon path {
  stroke: var(--clr-primary);
}

header .wrapper .account-details:hover .down-arrow path {
  fill: var(--clr-primary);
}

header .wrapper .account-details:hover span {
  color: var(--clr-primary);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  transition: z-index 0.5s step-end, opacity 0.5s linear, height 0.5s ease;
  -webkit-transition: z-index 0.5s step-end, opacity 0.5s linear;
}

nav.open {
  height: 100vh;
  opacity: 1;
  z-index: 2;
  transition: z-index 0.5s step-start, opacity 0.5s linear, height 0.5s ease;
  -webkit-transition: z-index 0.5s step-start, opacity 0.5s linear;
}

nav.open li {
  margin-block: 20px;
}

nav.open a {
  font-size: 18px;
  padding: 1.4em;
}

nav > img {
  display: none;
}

nav li {
  padding-block: 0.5em;
}

nav a {
  padding: 0.8em;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}

nav a:hover {
  color: var(--clr-primary);
}

@media screen and (min-width: 990px) {
  header {
    box-shadow: none;
  }

  header .wrapper {
    height: 135px;
  }

  header .wrapper .hamburger {
    display: none;
  }

  header .wrapper .account-details {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  nav {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: row;
    height: 100%;
    width: auto;
    transform: translateX(0);
  }

  nav > img {
    display: inline-block;
  }

  nav .nav__border-left {
    transform: translateX(0.8em);
  }

  nav .nav__border-right {
    transform: translateX(-0.8em);
  }
}

@media screen and (min-width: 1400px) {
  nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes send-back {
  to {
    z-index: -1;
  }
}
