/* variables */
:root {
  --clr-neutral-100: #e5e5e5;
  --clr-neutral-300: #c4c4c4;
  --clr-neutral-500: #575757;
  --clr-neutral-700: #3c3a3a;
  --clr-neutral-900: #222222;
  --clr-primary: #d23431;

  --heading1-size: 28px;
  --heading2-size: 32px;
  --heading3-size: 28px;
}

/* utilities */
.wrapper {
  padding-inline: 20px; /* same as padding left and right */
}

.section-heading {
  text-align: center;
  font-size: var(--heading2-size);
  font-weight: 700;
}

.special {
  /* class to give text primary color */
  color: var(--clr-primary);
}

.btn {
  display: block;
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 18px 26px;
  font-size: 16px;
  font-weight: 700;
}

.btn.primary {
  color: #fff;
  background-color: var(--clr-primary);
  transition: background-color 0.3s ease;
}

.btn.primary:hover {
  background-color: var(--clr-neutral-900);
}

.btn.secondary {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: #fff;
  transition: all 0.3s ease;
}

.btn.secondary:hover {
  border: 1px solid var(--clr-neutral-900);
  color: var(--clr-neutral-900);
}

.lock-scroll {
  overflow: hidden;
}

/* media queries */
@media screen and (min-width: 990px) {
  :root {
    --heading1-size: 40px;
  }

  .wrapper {
    padding-inline: 100px;
  }
}
